/*haciendo la pagina respocive*/


@media screen and (min-whith: 780px) and (max-whidth: 1024px) {
    
    .fotoperfil{
        width: 50%;
        height: 50%;
    }
    .imagendefondo{
        width: 50%;
        height: 50%;
    }

}
@media screen and (min-whidth: 480px) and (max-whidth: 780px) {
    .imagendefondo{
        background-image: none;
    }
    
}
@media screen and (min-whidth: 480px) and (max-whidth: 780px) {
    
}
